{% extends 'website/base.html' %}
{% load staticfiles %}

<!-- Tegemist on puhta html koodiga, mis Django raamistiku töttu lubab {} sees kasutada Pythoni koodi 'template tag' kasutades.
<!-- Loogsulud protsentidega tähistab et tegemist on Pythoni keele võtmesõnaga. -->
<!-- Topeltloogsulud. tähistab Pythoni muutujat, mida me t012loputoo/website/views.py muudame selles failis arusaadavaks.
<!-- Staticfails laeb sisse eraldi kausta mille sees on kõik pildid, javascript failid jne.


<!-- Kõik mis on block content ja endblock tagi vahel, lisatakse base.html sisse kus on samuti block ja endblock tagid. -->
<!-- Sarnane veebirakenduste kursuses html laiendamisega extend'i kasutades. -->
<!-- form.as_p trükib formi input elemendid paragraafidena välja -->
<!-- csrf_token kaitseb väliste rünnakute eest, Django ei luba forme kasutada ilma nendeta, turvameetmete tõttu. -->
{% block content %}
	<div>
	<h1>Sisestage algtekst</h1>
	<form method="POST" class="post-form">{% csrf_token %} 
		{{ form.as_p }} 
		<button type="submit" class="save btn btn-default">Saada</button>
	</form>
	<div>
	
	<!-- Kontrollib, kas form on saadetud ja et backendis oleksid andmed olemas.  -->
	{% if lemmas %}
		<div>
		<h1>Enimkasutatud lemmad</h1>
		
			<table class="table table-striped" id="myTable">
				<thead>
					<tr>
						<th>#</th>
						<th>Lemma</th>
						<th>Kogus</th>
					</tr>
				</thead>
				<tbody>
				
					<!-- Võtab sisse lemmade listi ja kirjutab välja iga for tsükkliga tabeli rea. -->
					<!-- Kuna lemma on list, siis selle elementide indekseerimine käib punkti abil. vt rida 30/31. -->
					<!-- Muutuja lemmas on kujul [['lemma', esinemissagedus], ['lemma2', esinemissagedus2], ['lemma3', esinemissagedus3]] -->
					<!-- Muutuja lemma on kujul ['lemma', esinemissagedus] --> 
					{% for lemma in lemmas %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>{{ lemma.0 }}</td>
							<td>{{ lemma.1 }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<h1>Enimesinevad tähejäriendid</h1>
		<div>
			<table class="table table-striped" id="myTable2">
				<thead>
					<tr>
						<th>#</th>
						<th>Tähejäriend</th>
						<th>Kogus</th>
					</tr>
				</thead>
				<tbody>
					<!-- Forloop counter loeb üle mitu korda for loop on oma tsükklit teinud -->
					<!-- Lisatud selle jaoks, et näha kui mitmendal kohal sageduse poolest see esineb.-->
					{% for letter in letters %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>{{ letter.0 }}</td>
							<td>{{ letter.1 }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	
	
		   <!-- line chart canvas element -->
        <canvas id="buyers" width="600" height="400"></canvas>
        <!-- pie chart canvas element -->
        <canvas id="countries" width="600" height="400"></canvas>
        <!-- bar chart canvas element -->
        <canvas id="income" width="600" height="400"></canvas>
        <script>
            // line chart data
            var buyerData = {
                labels : ["January","February","March","April","May","June"],
                datasets : [
                {
                    fillColor : "rgba(172,194,132,0.4)",
                    strokeColor : "#ACC26D",
                    pointColor : "#fff",
                    pointStrokeColor : "#9DB86D",
                    data : [203,156,99,251,305,247]
                }
            ]
            }
            // get line chart canvas
            var buyers = document.getElementById('buyers').getContext('2d');
            // draw line chart
            new Chart(buyers).Line(buyerData);
            // pie chart data
            var pieData = [
                {
                    value: 20,
                    color:"#878BB6"

                },
                {
                    value : 40,
                    color : "#4ACAB4"
                },
                {
                    value : 10,
                    color : "#FF8153"
                },
                {
                    value : 30,
                    color : "#FFEA88"
                }
            ];
            // pie chart options
            var pieOptions = {
                 segmentShowStroke : false,
                 animateScale : true
            }
            // get pie chart canvas
            var countries= document.getElementById("countries").getContext("2d");
            // draw pie chart
            new Chart(countries).Pie(pieData, pieOptions);
            // bar chart data
            var barData = {
                labels : ["January","February","March","April","May","June"],
                datasets : [
                    {
                        fillColor : "#48A497",
                        strokeColor : "#48A4D1",
                        data : [456,479,324,569,702,600]
                    },
                    {
                        fillColor : "rgba(73,188,170,0.4)",
                        strokeColor : "rgba(72,174,209,0.4)",
                        data : [364,504,605,400,345,320]
                    }
                ]
            }
            // get bar chart canvas
            var income = document.getElementById("income").getContext("2d");
            // draw bar chart
            new Chart(income).Bar(barData);
        </script>

		<div>
			<!-- {% static "postags.png" %} ütleb Djangole et ta otsiks üles mingi static kausta projektist, ning annaks selle faili sisse. -->
			<h1>Sõnaliigid</h1>
			<img src="{% static "postags.png" %}">
		</div>

		<div>
			<h1>Sõnavormid</h1>
			<img src="{% static "word_forms.png" %}">
		</div>


	{% endif %}
{% endblock %}

